@charset "utf-8";
/* CSS Document */

/*INDEX*/
/*Baggrundsbilledet*/
.index {
	background-image: url("../../Portofolio/newyorksunset.png");
	background-attachment: flex;
	background-size: 1920px;
}


/*Navigationslinjen*/
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 75px;
	align-items: center;
}

.logo {
	padding: 20px;
	padding-top: 120px;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	font-family: "playfair-display", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 35px;
	text-shadow: 0 0 5px #FFFF;
	text-align: center;
	position: absolute;
	right: 600px;
	top: -50px;
}

.menu li {
	color: white;
	padding: 80px;
}

.menu-box {
	display: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80px;
}

.menu-icon, .menu-icon::before, .menu-icon::after {
	display: hidden;
	background-color: white;
	height: 4px;
	width: 30px;
	position: absolute;
	border-radius: 2px;
	transition: transform 2s;
}

.menu-icon::before {
	content:"";
	margin-top: -10px;
}

.menu-icon::after {
	content: "";
	margin-top: 10px;
}

#menu-activate:checked + .menu-box .menu-icon::before {
	margin-top: 0;
	transform: rotate(45deg);
	display: hidden;
}

#menu-activate:checked + .menu-box .menu-icon::after {
	margin-top: 0;
	transform: rotate(-45deg);
	display: hidden;
}

#menu-activate:checked + .menubox .menu-icon {
	background-color: rgba(0,0,0,0);
	display: hidden;
}

#menu-activate {
	display: none;
	display: hidden;
}

@media screen and (max-width: 700px) { 
    .menu-box {
        display: hidden;
    }
    .menu {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 100px;
        background-color:rgba(37,39,83,0.84);
        flex-direction: column;
        width: 30%;
        justify-content: center;
        align-items: center;
    }
    #menu-activate ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        transition: height 1s;
        display: none;
    }
    #menu-activate:checked ~ .menu li {
        height: 50px;
        padding: 10px;
        transition: height 1s;
        display: hidden;
    }
}


/*skyerne*/
#Work-Sky {
	position: absolute;
	top: 190px;
	left: 130px;
	/*mask image = gradiant skyer*/
	/*-webkit-mask-image: linear-gradient(white, transparent);*/
	opacity: 0.7;
}

#About-Sky {
	position: absolute;
	top: 400px;
	left: 700px;
	/*mask image = gradiant skyer*/
	/*-webkit-mask-image: linear-gradient(white, transparent);*/
	opacity: 0.7;
}

#Contact-Sky {
	position: absolute;
	top: 650px;
	left: 100px;
	/*mask image = gradiant skyer*/
	/*-webkit-mask-image: linear-gradient(white, transparent);*/
	opacity: 0.7;
}
	
.sky {
	text-shadow: 0 0 6px #FFFFFF, 2px 2px 3px #000000;
	color:#FFFFFF;
	font-size: 30px;
}

#work {
	position: absolute;
	top:270px;
	left: 240px;
}

#about {
	position: absolute;
	top: 480px;
	left: 800px;
}

#contact {
	position: absolute;
	top:730px;
	left:180px;
}


/*MY WORK*/
.work {
	background-image: url("../../Portofolio/newyorksunset.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	
}



